* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Variables Scss
 $base-color: #062226;
 $base-Color-Title: white;
 $RgbaColor: rgb(81, 209, 81);
 $Card-Color: green;
 $BorderSolid: red;
   



body {
    font-family: monospace;
    font-size: 16px;
}



.Container {


    &__ImgRicky img {
      width: 100%;
    }

    &__Header {
        background-color: $base-color;
    }

    &__Input {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
    }

    &__InputValue {
        width: 200px;
        height: 25px;
    }

    &__Buton {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    &__Title {
        color: $base-Color-Title;
        text-align: center;
        margin-bottom: 30px;
    }

    &__Text {
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
        background-color: $RgbaColor;
        text-align: center;
        display: grid;
        place-items: center;
    }

    &__Type h2 {
        margin-bottom: 10px;
    }
}


.CardConteiner {
    

    &__Card {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        object-fit: contain;
        gap: 2rem;
        background-color: $Card-Color;
        border: 2px solid $BorderSolid;
        width: 100vw;
       
    }



    &__img img {
        width: 150px;
        border-radius: 8px;
        padding-left: 1rem;
        height: 200px;
        object-fit: contain;
        color: white;
    }



}

.Datos {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
}

.Status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}


.ConStatus {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.CardMorty {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}


@media screen and (min-width: 768px) {


    .Container {

        &__ImgRicky img {
            width: 100%;
            height: 500px;

        }


        &__Input {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            gap: 1rem;
        }

        &__InputValue {
            width: 500px;
            height: 40px;
        }

        &__Buton {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }


        &__Text {
            width: 50%;
            height: 200px;
            margin-bottom: 30px;
            display: block;
            margin: 0 auto;
            background-color: $RgbaColor;
            text-align: center;
            display: grid;
            place-items: center;
            margin-bottom: 30px;
        }

        &__Type h2 {
            margin-bottom: 30px;
        }


    }




    .CardConteiner {


        &__img img {
            width: 200px;
            height: 200px;
            object-fit: contain;
            color: white;
        }

        &__Card {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            object-fit: contain;
            gap: 2rem;
            background-color: $Card-Color;
            border: 2px solid $BorderSolid;
            width: 500px;
           
        }

    }

    .CardMorty {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }




}















@media screen and (min-width: 1200px) {

    .Container {

        &__ImgRicky img {
            width: 100%;
            height: 500px;

        }


        &__Input {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            gap: 1rem;
        }

        &__InputValue {
            width: 500px;
            height: 40px;
        }

        &__Buton {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }


        &__Text {
            width: 50%;
            height: 200px;
            margin-bottom: 30px;
            display: block;
            margin: 0 auto;
            background-color: $RgbaColor;
            text-align: center;
            display: grid;
            place-items: center;
            margin-bottom: 30px;
        }

        &__Type h2 {
            margin-bottom: 30px;
        }


    }


    .CardConteiner {


        &__img img {
            width: 200px;
            height: 200px;
            object-fit: contain;
            color: white;
        }
        

        &__Card {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            object-fit: contain;
            gap: 2rem;
            background-color: $Card-Color;
            border: 2px solid $BorderSolid;
            width: 500px;
           
        }



    }

    .CardMorty {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }




}